$font-color: #000000;
$primary-color: #1a4d2e;
$secondary-color: #f4f2f2;
$button-color: #ff9f29;
$hero-color: #faf3e3;

$font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

@mixin breakpoint($point) {
  @if $point == md {
    // 768px
    @media (min-width: 48em) {
      @content;
    }
  }

  @if $point == _lg {
    @media (max-width: 75em) {
      @content;
    }
  }

  @if $point == lg {
    // 1200px
    @media (min-width: 75em) {
      @content;
    }
  }
}
