@use '../../styles/variables' as v;

.container {
  width: 100%;
  margin-top: 100px;

  &_hero_section {
    background-color: v.$hero-color;
    width: 100%;
    display: grid;
    height: 400px;
    align-content: center;
    justify-content: center;
    text-align: center;

    p {
      margin-bottom: 20px;
    }

    .search_input_container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      background-color: #fff;
      border-radius: 25px;
      padding: 10px;
      width: 65%;
      margin: 0 auto;
      height: 50px;

      input {
        width: 100%;
        border: none;
        outline: none;
        font-size: 20px;
        padding-left: 1rem;
      }

      button {
        background-color: v.$button-color;
        border: none;
        color: #fff;
        font-size: 20px;
        border-radius: 25px;
        height: 40px;
        width: 6.25em;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }
    }
  }

  &_category_section {
    width: 100%;
    padding: 1em 3em;

    h3 {
      margin-bottom: 1em;
    }

    .categories {
      display: grid;
      grid-template-columns: repeat(1, 1fr);

      grid-column-gap: 2em;
      grid-row-gap: 2em;

      @include v.breakpoint(md) {
        grid-template-columns: repeat(3, 1fr);
      }
    }

    .category {
      background-color: v.$secondary-color;
      display: flex;
      height: 80px;
      font-size: 20px;

      a {
        text-decoration: none;
        color: black;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  &_brands_section {
    width: 100%;
    padding: 1em 3em;

    h3 {
      margin-bottom: 1em;
    }

    .brands {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      grid-column-gap: 3em;
      grid-row-gap: 2em;

      @include v.breakpoint(md) {
        grid-template-columns: repeat(4, 1fr);
      }
    }

    .brand {
      background-color: v.$secondary-color;
      display: flex;
      height: 80px;
      font-size: 20px;

      a {
        text-decoration: none;
        color: black;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: 50px;
        }
      }
    }
  }
  &_dashboard_section {
    width: 100%;
    padding: 1em 3em;

    h3 {
      margin-bottom: 1em;
    }

    .items {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-column-gap: 4em;
      grid-row-gap: 2em;
      margin-bottom: 2em;

      @include v.breakpoint(md) {
        grid-template-columns: repeat(4, 1fr);
      }

      .item {
        background-color: v.$hero-color;
        border-radius: 5px;

        .item_link {
          position: relative;
          border-radius: 5px 5px 0 0;
          img {
            width: 100%;
            border-radius: 5px 5px 0 0;
          }

          a {
            position: absolute;
            top: 10px;
            right: 10px;
            width: 50px;
            height: 50px;
            background-color: v.$button-color;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            color: #fff;
            font-size: 24px;
            font-weight: 600;
          }
        }

        p {
          color: v.$primary-color;
          font-size: 22px;
          margin: 0 0 10px 10px;
        }
      }
    }

    #dashboard_see_more {
      background-color: v.$primary-color;
      color: #fff;
      text-decoration: none;
      padding: 5px 20px;
      border-radius: 10px;
      font-size: 16px;
    }
  }

  &_newsletter_section {
    background-color: v.$secondary-color;
    width: 100%;
    display: grid;
    height: 400px;
    align-content: center;
    justify-content: center;
    text-align: center;

    p {
      margin-bottom: 20px;
    }

    .search_input_container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      background-color: #fff;
      border-radius: 25px;
      padding: 10px;
      width: 65%;
      margin: 0 auto;
      height: 50px;

      input {
        width: 100%;
        border: none;
        outline: none;
        font-size: 20px;
        padding-left: 1rem;
      }

      button {
        background-color: v.$button-color;
        border: none;
        color: #fff;
        font-size: 20px;
        border-radius: 25px;
        height: 40px;
        width: 6.25em;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }
    }
  }

  &_footer {
    margin: 1em 3em;
    border-bottom: 2px solid black;

    display: flex;
    justify-content: space-between;
    height: 10em;

    .footer_left {
      display: flex;
      flex-direction: column;

      img {
        width: 80px;
      }
      span {
        font-size: 10px;
      }
    }

    .footer_right {
      ul {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-evenly;
        list-style: none;
        li {
          a {
            text-decoration: none;
            color: black;
          }
        }
      }
    }
  }

  &_heel {
    margin: 1em 3em;
    display: flex;
    justify-content: space-between;

    .socials {
      display: flex;
      list-style-type: none;

      li {
        padding-left: 10px;
        cursor: pointer;
      }
    }
  }
}
