@use '../../styles/variables' as v;

.container_footer {
  margin: 1em 1em;
  border-bottom: 2px solid black;

  @include v.breakpoint(md) {
    margin: 1em 3em;
  }

  display: flex;
  justify-content: space-between;
  height: 10em;

  .footer_left {
    display: flex;
    flex-direction: column;

    img {
      width: 80px;
    }
    span {
      font-size: 10px;
    }
  }

  .footer_right {
    ul {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: space-evenly;
      list-style: none;
      li {
        a {
          text-decoration: none;
          color: black;
        }
      }
    }
  }
}

.container_heel {
  margin: 1em 1em;
  display: flex;
  justify-content: space-between;

  @include v.breakpoint(md) {
    margin: 1em 3em;
  }
  .socials {
    display: flex;
    list-style-type: none;

    li {
      padding-left: 10px;
      cursor: pointer;
    }
  }
}
