@use '../../styles/variables' as v;

.container {
  &_form {
    height: 100%;
    padding-top: 100px;
    margin-bottom: 1em;
    display: grid;
    grid-template-rows: repeat(2, 1fr);

    @include v.breakpoint(lg) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(1, 1fr);
      padding-top: 200px;
    }

    .form_left {
      display: flex;
      flex-direction: row;
      justify-content: center;

      .form_left_content {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        img {
          max-height: 300px;
          border: 0.5px solid black;
          @include v.breakpoint(md) {
            max-height: 480px;
          }
        }

        .file_button {
          color: transparent;
          @include v.breakpoint(md) {
            margin-top: 1em;
          }
        }
        .file_button::-webkit-file-upload-button {
          visibility: hidden;
        }

        .file_button::before {
          content: 'Upload';
          color: #fff;
          display: inline-block;
          background: v.$primary-color;
          border: none;
          border-radius: 25px;
          padding: 8px 15px;
          outline: none;
          font-weight: 400;
          cursor: pointer;
        }
        .file_button:hover::before {
          border: none;
        }
        .file_button:active {
          outline: 0;
        }
        .file_button:active::before {
          background: none;
        }
      }
    }

    .form_right {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width: 80%;
      margin: 0 auto;

      .input_field {
        margin-top: 1em;
        border-bottom: 1px solid black;
        width: 100%;
        line-height: 2em;

        label {
          font-size: 20px;
        }
        input,
        textarea {
          height: 100%;
          width: 100%;
          border: none;
          outline: none;
          font-size: 20px;
        }

        select {
          border: none;
          width: 100%;
          font-size: 20px;
          outline: none;
        }

        textarea {
          resize: none;
          max-height: 120px;
        }
      }

      .button_field {
        margin-top: 1em;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 100%;

        button {
          background-color: v.$button-color;
          border: none;
          color: #fff;
          font-size: 20px;
          border-radius: 25px;
          height: 40px;
          width: 6.25em;
          cursor: pointer;
        }
      }
    }
  }

  @include v.breakpoint(md) {
  }

  @include v.breakpoint(lg) {
  }
}
